<div class="index-container" [class]="isIndexOpen ? 'index open' : 'index'">

  <button [class]="isIndexOpen ? 'menu open' : 'menu'" (click)="toggleIndex()">
    <div [class]="isIndexOpen ? 'bar change' : 'bar'"></div>
    <div [class]="isIndexOpen ? 'bar change' : 'bar'"></div>
    <div [class]="isIndexOpen ? 'bar change' : 'bar'"></div>
  </button>

  <ul [class]="isIndexOpen ? 'options open' : 'options'">
    <li (click)="onSelectOption('DataTypes')">Tipos de datos</li>
    <li (click)="onSelectOption('StructuredData')">Tipos de datos estructurados</li>
    <li (click)="onSelectOption('AbstracData')">Tipos de datos abstractos</li>
    <li (click)="onSelectOption('SecondaryStorage')">Almacenamiento secundario</li>
    <li (click)="onSelectOption('TiposDeDatos')">Basicos</li>
    <li (click)="onSelectOption('Avanzado')">Avanzados</li>
    <li (click)="onSelectOption('Apuntadores')">Apuntadores</li>
    <li (click)="onSelectOption('ArbolesGrafos')">Arboles y Grafos</li>
    <li (click)="onSelectOption('Busqueda')">Busqueda</li>
    <li (click)="onSelectOption('Listas')">Listas</li>
    <li (click)="onSelectOption('Ordenamiento')">Ordenamiento</li>
    <li (click)="onSelectOption('POO')">POO</li>
    <li (click)="onSelectOption('Order')">Order</li>
    <li (click)="onSelectOption('BubbleSort')">Bubble Sort</li>
    <li (click)="onSelectOption('InsertionSort')">Insertion Sort</li>
    <li (click)="onSelectOption('MergeSort')">Merge Sort</li>
    <li (click)="onSelectOption('QuickSort')">Quick Sort</li>
    <li (click)="onSelectOption('SelectionSort')">Selection Sort</li>
    <li (click)="onSelectOption('Trees')">Arboles</li>
    <li (click)="onSelectOption('AVLyBST')">Arboles AVL y BST</li>
  </ul>
</div>
