.footer {
  width: 100%;
  background-color: #222222;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}

.mat-container {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
}
