.menu-container {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right, black, grey, darkgrey, grey, black);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: Consolas, monospace;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 35px;
  color: white;
  margin-left: 30px;
}

.data-container {
  padding-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.mat-menu-panel {
  text-align: center;
  margin-top: 190px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.3s;
}

.change {
  background-color: red;
}

.bar:nth-child(1) {
  transform: translateY(0);
}

.bar:nth-child(2) {
  transform: translateY(0);
}

.bar:nth-child(3) {
  transform: translateY(0);
}

.change:nth-child(1) {
  transform: rotate(45deg) translate(6.8px, 6.8px);
}

.change:nth-child(2) {
  opacity: 0;
}

.change:nth-child(3) {
  transform: rotate(-45deg) translate(6.8px, -6.8px);
}
