.index-container {
  background: linear-gradient(to top, #f4f4f4 50%, #f4f4f4);
  padding: 15px;
  z-index: 1000;
  height: 100vh;
  transition: width 0.5s ease-in-out;
}

.example-tree-progress-bar {
  margin-left: 30px;
}


.index-container.open {
  background: linear-gradient(to top, #f4f4f4 50%, #f4f4f4);
  padding: 15px;
  z-index: 1000;
  height: 100vh;
  transition: width 0.5s ease-in-out;
}

.options {
  display: none;
}

.options.open {
  padding: 10%;
  display: block;
  cursor: pointer;
}
