<div class="index-container">
  <mat-nav-list>
    <a mat-list-item [routerLink]="''">Home</a>
    <a mat-list-item [routerLink]="'/doc/TiposDeDatos'">Basicos</a>
    <a mat-list-item [routerLink]="'/doc/Avanzado'">Avanzados</a>
    <a mat-list-item [routerLink]="'/doc/Apuntadores'">Apuntadores</a>
    <a mat-list-item [routerLink]="'/doc/ArbolesGrafos'">Arboles y Grafos</a>
    <a mat-list-item [routerLink]="'/doc/Busqueda'">Busqueda</a>
    <a mat-list-item [routerLink]="'/doc/Listas'">Listas</a>
    <a mat-list-item [routerLink]="'/doc/Ordenamiento'">Ordenamiento</a>
    <a mat-list-item [routerLink]="'/doc/POO'">POO</a>
    <a mat-list-item [routerLink]="'/doc/Order'">Order</a>
    <a mat-list-item [routerLink]="'/doc/BubbleSort'">Bubble Sort</a>
    <a mat-list-item [routerLink]="'/doc/InsertionSort'">Insertion Sort</a>
    <a mat-list-item [routerLink]="'/doc/MergeSort'">Merge Sort</a>
    <a mat-list-item [routerLink]="'/doc/QuickSort'">Quick Sort</a>
    <a mat-list-item [routerLink]="'/doc/SelectionSort'">Selection Sort</a>
  </mat-nav-list>
</div>
